<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanmaum.myroomz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyRoomzApplication"
        android:theme="@style/Theme.MyRoomz">
        <meta-data android:name="io.sentry.dsn" android:value="https://3c146026b24e4d5a9dcd5d57449a682e@o1056847.ingest.sentry.io/6057712" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <activity
            android:name="com.fanmaum.myroomz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>